body {
    background: orange;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background: bisque;
    text-align: center;
    height: 425px;
    min-width: 325px;
    border: 40px ridge darkred;
    border-radius: 12px;
}

.display {     
    background: black;
    color: red;
    font-size: 54px;
    font-family: Roboto, sans-serif;
    text-align: right;
    height: 58px;
    border: 2px solid black;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.buttons {
    background: bisque;
    border: 12px solid darkred;
    height: 80%;
}

.btn-row {
    margin: 8px; 
}

.btn {
    padding: 15.8px;
    width: 64px;
    margin: 2px;
    border: 4px outset black;
    border-radius: 3px;
}

.btn:hover {
    background: orange;
}

.btn:active {
    background: hsl(0 0 100);
}