body {
    background: orange;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background: bisque;
    text-align: center;
    height: 425px;
    min-width: 350px;
    border: 40px ridge darkred;
    border-radius: 12px;
}

.display {
     
    background: black;
    color: red;
    height: 60px;
    border: 2px solid black;
}

.buttons {
    background: bisque;
    border: 12px solid darkred;
    height: 80%;
}

.btn-row {
    margin: 8px; 
}

.btn {
    padding: 15.8px;
    width: 64px;
    margin: 2px;
    border: 4px outset black;
    border-radius: 3px;
}